
/* Modal */

.col-half {
    float: left;
    width: 25%;
    padding: 6px;
}
.col-half-sub {
    float: left;
    width: 45%;
    padding: 30px;
}
.login-modal,
.modal-register{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10000;
    background-color: rgba(13, 13, 54, 0.7);
    align-items: center;
    justify-content: center ;
    display: none;
}

.login-modal.open,
.modal-register.open {
    display: flex;
}

.modal-container-register,
.modal-container {
    background-color: #fff;
    width: 450px;
    height: 650px;
}

.modal-header-register,
.modal-header {
    position: relative;
    background-color: #3f3fe6;
    color: #fff;
    padding: 10px;
}

.modal-close-register,
.modal-close {
    position: absolute;
    font-size: 20px;
    color: #000;
    margin-top: -35px;
    margin-left: 408px;
}
.modal-header{
    font-size: 20px;
}

.modal-register .icon-close-register,
.login-modal .icon-close {
    padding: 11px;
    color: #fff;
    cursor: pointer;
}

.modal-register .icon-close-register:hover,
.login-modal .icon-close:hover {
    background-color: #ccc;
    color: #000;
    border-radius: 50%;
}

.modal-body2,
.modal-body {
    padding:  30px;
}

.modal-body-register,
.modal-body-login {
    margin: 20px 0 30px;
    border-bottom: 2px solid #ccc;
    height: 13px;
    
    }

.modal-body2 .sub,
.modal-body .sub {
    background-color: #fff;
    border-width: 2px;
    border-style:  solid;
    border-color: #ccc;
    border-radius: 12px;
    margin-left: 10px;
    margin-top: -25px;
    text-align: center;
    cursor: pointer;
    color: #000;
    padding: 5px 8px;
    
}

/* .modal-register, */
.modal-body2 .modal-sub-register ,
.modal-body .modal-login {
 background-color: #ccc;
}

.modal-register-another,
.modal-login-another {
    text-align: center;
    margin: 10px 0;
}

.login-another {
    font-size: 15px;
}


.icon-login-another {
   width: 50px;
   margin: 10px 15px;
   cursor: pointer;
}



.login-another {
    text-align: center;
    color: rgb(158, 156, 156);
}

.modal-input-section {
    float: left;
}

.modal-input-section .email{
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 5px;
    border-radius: 0;
    border: 1px solid #ccc;
}

.modal-input-section .password {
    margin-top: 10px;
}

.modal-input-section .forgot-password {
    font-size: 12px;
    color: #0000ed;
}

.modal-checkbox {
    padding: 5px;
    position: relative;
    margin-top: 10px;
}

.checkbox {
    position: absolute;
    margin-top: -25px;
    margin-left: 17px;
    font-size: 11px;
    color: #4141ff;
}

.modal-bnt-register,
.modal-bnt-login {
    text-align: center;
    display: inline-block;
    padding: 10px 0 14px;
    background-color: rgb(247, 100, 43);
    height: 45px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.modal-bnt-register .bnt-login,
.modal-bnt-login .bnt-login {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.modal-bnt-register:hover,
.modal-bnt-login:hover {
    background-color: rgb(223, 69, 8);
}


.title-content {
    text-align: justify;
    line-height: 1.4;
    font-size: 14.5px;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-140px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);

    }
}

/* css thêm phần index */
#main-banner .main-banner-section-center,
#main-banner .main-banner-section {
    position: absolute;
    width: 350px;
    height: 450px;
    background-color: rgba(0,0,0,0.1);
    text-align: center;
}
#main-banner .main-banner-section-center{
    height: 20px;
    margin-top: -100px;
    margin-left: 35%;
    background-color: rgba(0,0,0,0) ;
}
#main-banner .main-banner-section-center > a {
    margin-top: 200px;
    margin: auto;
}

#main-banner .shop-now-btn {
    padding: 15px 40px;
    background-color: white;
    font-size: 20px;
    border-radius: 10px;
    font-weight: bold;
}
#main-banner .shop-now-btn:hover {
    background-color: #0900ed;
    color: white;
    font-size: 25px;
    padding: 15px 30px;
    font-weight: bold;
}
#content .blog1.sub {
    width: 100%;
    min-height: 395px;
    text-align: justify;
    background-color: #f3f4f8;
    margin-right: 30px;
}
#content .blog1.sub .blog-title {
    font-size: 25px;
    width: 120%;
    padding: 10px 0;
}
#content .blog1.sub .blog-title-content {
    font-size: 15px;
    width: 120%;
}
#content .blog1.sub .shose-slect {
    background-color: #1a94ff;
    padding: 8px 30px;
    border-radius: 50px;
    font-weight: bold;
    color: white;
    font-size: 15px;
    margin-bottom: 20px;
}
#content .blog1.sub .shose-slect:hover {
    background-color: #0059ff;
}
#content .blog1.sub .blog-meta {
    float: right;
    
 }
#u-url-blog {
     display: inline-block;
     margin-top: 40px;
     background-color: #333;
     padding: 15px 30px;
     color: white;
     font-weight: bold;
 }
 #u-url-blog:hover {
    background-color: #000;

 }
 .col-2 #content {
     margin-right: 30px;
 }
 #bg-search-blog {
     display: inline-block;
     width: 143%;
     height: 70px;
     background-color: #1a94ff;
 }
 #bg-search-blog .search-product {
     margin: auto;
     margin-top: 13px;
 }
 #new-posts-modal {
     width: 143%;
    padding: 30px;
    background-color: #f3f4f8;
    padding-top: 50px;
}
#new-posts-modal .post-select {
    width: 100%;
    font-size: 20px;
    padding: 20px 0;
    border-bottom: 2px solid #ccc;
}
#new-posts-modal .post-select a {
    color: rgb(66, 66, 66);
}
#new-posts-modal .post-select:hover a {
    color: #0059ff;
    font-weight: bold;
}
#new-posts-modal .title-post {
    color: black;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 20px;
}
#new-posts-modal .title-sub {
    background-color: #1a94ff;
    height: 4px;
    margin-top: 10px;
}
#see-more {
    text-align: center;
}
#see-more .see {
    padding: 10px 50px;
    background-color: #1a94ff;
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
}

/* css phần chính sách bán hàng trong page product */
.sales-policy-modal {
    background-color: white;
    padding: 20px 10px 20px 15px;
}
.sales-policy-content,
.sales-policy {
    display: inline-block;
    margin: 8px 0;
}
.sales-policy {
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}
.sales-policy-section .title-policy {
    font-size: 20px;
    padding-bottom: 10px;
}
.sales-policy-content .icon-policy,
.sales-policy .icon-free-ship {
    width: 50px;
    float: left;
    padding-right: 10px;
}
.sales-policy-content .title-policy-content ,
.sales-policy .title-free-ship {
    max-width: 82%;
    float: left;
    font-size: 17px;
    color: #51c400;
}
.sales-policy-content .title-policy-content {
    color: rgb(70, 70, 70);
}
.see-more-policy {
    text-align: center;
    padding: 11px;
}
.see-more-policy .see-more {
    color: blue;
    font-size: 16px;
    text-decoration: blue;
}