    .container {
        width: 90%;
    }

    /* navigation */

    .contain-header {
        display: flex;
        flex-wrap: wrap;
    }

    .contain-nav-info {
        display: flex;
        align-items: center;
    }

    .main-navigation {
        position: relative;
    }

    #item-category-man   {
        width: 10%;
        border: 1px solid black;
        position: absolute;
        z-index: 200;
        left: 32%;
        background-color: white;
        color: black;
        border-radius: 20px;
    }

    #item-category-woman {
        width: 10%;
        border: 1px solid black;
        position: absolute;
        z-index: 200;
        left: 40%;
        background-color: white;
        color: black;
        border-radius: 20px;
    }

    .category-product-man {
        width: 100%;
    }

    @media screen and (max-width: 750px) {

        .navbar-collapse {
            top: 210px;
        }
        .nav-detail-info {
            top: 80px;
        }
    }

    .category-item {
        width: 120px !important;
    }

    .navbar-header-menu {
        margin-top: 10px !important;
    }

    .nav-detail-info {
        z-index: 100;
        position: absolute;
        width: 100%;
        height: auto;
        background-color: white;
        display: none;
        cursor: pointer;
    }

    .category-nav-detail-info {
        display: flex;
        justify-content: space-around;
        width: 100%;
        cursor: pointer;
    }

    .item-nav-detail-info {
        display: flex;
        justify-content: space-around;
        color: black;
        letter-spacing: 1px;
    }

    .item-nav-detail-info>ul {
        width: 100%;
        margin: 20px 0;
        text-indent: 20px;
    }

    .item-nav-detail-info>ul>li {
        width: 100%;
        margin: 10px 0;
        padding: 5px 0;
        font-size: 18px;
    }

    .item-nav-detail-info>ul>li:hover {
        background-color: black;
        color: white;
    }

    .item-nav-detail-info>ul>li>strong {
        color: #040458;
    }

    #item-category-brand>ul {
        display: flex;
        flex-wrap: wrap;
    }

    .contain-brand {
        display: flex;
        flex-wrap: wrap;
        border-radius: 20px;
        border: 1px solid black;

    }

    .contain-brand>img {
        margin: 20px 30px;
        width: 120px;
        height: 120px;
    }

    .contain-brand>img:hover {
       opacity: 0.5;
    }
    /* relate product */

    .related-product-brand {
        margin-top: 20px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 15px;
    }

    .contain-hot-product {
        display: flex;
        align-items: center;
        justify-self: center;
    }

    .hot-product {
        width: 150px;
        height: 150px;
    }


    .star-hot-product {
        margin-top: 0px;
        color: #e4e405;
    }

    .product-imageblock {
        position: relative;
    }


    .related-product-sale {
        position: absolute;
        margin-bottom: 0;
        padding-bottom: 0;
        width: 100%;
        text-align: left;
        padding-left: 10px;
        color: white;
    }

    .related-product-sale>h5 {
        color: white;
        background-color: #e64141;
        width: 50px;
        height: 30px;
        border-radius: 20px;
        display: grid;
        place-items: center;
        letter-spacing: 1px;
    }

    .product-detail {
        position: relative !important;
        height: 120px;
    }


    .wishlist,
    .compare {
        border-radius: 50%;
    }

    .addtocart-btn {
        border-radius: 20px;
    }

    .star-related-product {
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        /*display: flex;*/
        /*justify-content: start;*/
        /*width: 100%;*/
    }

    .star-related-product>.fa-star,
    .star-related-product>.fa-star-half-alt {
        color: #e2e22f;
        padding-right: 1px;
    }

    .number-vote-related-product {
        margin-top: 60px;
        position: absolute;
        top: 47px;
        left: 90px;
    }

    .section-input-form {
        display: flex;
        justify-content: space-around;
        margin: 10px;
    }

    .pay-all>ul {
        display: flex;
        width: 100%;
        justify-content: space-between;
        font-size: 18px;
    }

    .pay-all>ul>li {
        margin: 10px 0;
    }

    .input-pay-all {
        display: flex;
    }

    .input-pay-all>input {
        flex: 2;
        height: 40px;
        border: 1px solid #a3a0a0;
        letter-spacing: 1px;
    }

    .button-pay-all {
        background-color: #db8e06;
        color: white;
        font-size: 16px;
        letter-spacing: 1px;
    }

    .input-pay-all>button {
        flex: 1;
    }

    .input-pay-all>button:hover {
        background-color: grey;
        color: white;
    }

    .pay-all-item-money {
        color: orange;
    }

    .form-input {
        width: 100%;
        margin: 5px;
        font-size: 16px;
        padding: 20px;
        text-indent: 10px;
    }
    /* payment method */

    .contain-form-payment {
        width: 100%;
    }

    .payment-input {
        margin: 20px 0px;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 6fr;
        align-items: center;
        height: 60px;
        background-color: #f5efef;
        text-indent: 10px;
    }

    .payment-input>input[type="radio"] {
        transform: scale(1.8);
        margin-left: 10px;
    }

    .checkout-note {
        color: #cea270;
    }

    .link-checkout-note {
        color: #000000;
    }

    .table-checkout {
        font-size: 16px;
    }

    .checkout-product-img {
        margin-bottom: 25px;
    }

    .checkout-product-img {
        cursor: pointer;
    }
    /*search product */

    .contain-search {
        width: 100%;
        margin: 10px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
    }

    .notify {
        cursor: pointer;
    }

    .notify:hover {
        color: white;
    }

    .contain-search-product-popular {
        width: 450px;
        position: relative;
    }

    .search-product {
        display: flex;
        border-radius: 20px;
        background-color: whitesmoke;
        width: 450px;
    }

    .search-product>input {
        width: 400px;
        height: 40px;
        letter-spacing: 1px;
        text-indent: 10px;
        font-size: 16px;
        border-radius: 20px;
        border: none;
        background-color: whitesmoke;
        margin: 2px;
    }

    .search-product-top {
        border-radius: 100%;
        width: 40px;
        height: 40px;
        background-color: black;
        margin: 2px;
    }

    .contain-search-popular {
        width: 100%;
        display: none;
        flex-wrap: wrap;
        border: 1px solid white;
        position: absolute;
        background-color: black;
        z-index: 1;
    }

    .contain-search-popular>span {
        border-radius: 20px;
        margin: 10px;
        padding: 10px;
        cursor: pointer;
        background-color: whitesmoke;
        color: #1b1b1b;
    }

    .contain-search-popular>span:hover {
        background-color: #cbc7c7;
    }
    /*filter search*/
    .contain-dropdown-item, .contain-dropdown-size {
        display: grid;
        height: 140px;
        overflow-y: scroll;
          overflow-x: hidden;
    }
    /* width scrollbar*/
    .filter-search::-webkit-scrollbar {
        width: 15px;
      }

      /* border - shadow scrollbar*/
      .filter-search::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 10px;
      }

      /* color scrollbar */
      .filter-search::-webkit-scrollbar-thumb {
        background: rgb(47, 47, 231);
        border-radius: 10px;
      }

      .list-group-item {
          margin: 20px 0;
      }

    .contain-dropdown-item label, .contain-dropdown-item input {
        cursor: pointer;
    }
    .contain-dropdown-size label, .contain-dropdown-size input {
        cursor: pointer;
    }
    .toggle-filter-search {
        position: fixed;
        z-index: 200;
        right: 20px;
        font-size: 25px;
        border: none;
        background-color: transparent;
        bottom: 330px;
        color: #2b6ee6;
        display: none;
    }

    @media screen and (max-width: 750px) {
        .toggle-filter-search {
            display: block;
        }
    }

    @media screen and (min-width: 550px) {
        .toggle-filter-search {
            bottom: 370px;
        }
    }

    .contain-category {
        display: flex;
    }

    .contain-filter-search {
        width: 20%;
        display: block;
    }

    @media screen and (max-width: 750px) {
        .contain-filter-search {
            padding: 0;
            position: fixed;
            top: 290px;
            width: 99%;
            height: 500px;
            overflow-y: scroll !important;
            z-index: 100;
            display: none;
        }
    }
    /*drop down*/

    .contain-dropdown-size {
        display: grid;
        grid-template-columns: auto ;
    }

    .contain-dropdown-locate {
        position: relative;
        height: 250px;
    }

    .dropdown-locate {
        position: absolute;
        display: none;
        top: 205px;
        margin-top: 0;
        padding-top: 0;
    }

    .dropdown-locate-show {
        display: inline;
    }

    .open-dropdown-locate,
    .close-dropdown-locate {
        cursor: pointer;
        color: #0909c1;
        letter-spacing: 1px;
    }

    .close-dropdown-locate {
        display: none;
        position: absolute;
        bottom: 0;
    }



    .contain-rate-search {
        display: grid;
    }
    .hidden-rate {
        margin-right: 5px;
    }

    .rate-search {
        cursor: pointer;
    }

    .rate-search>.fa-star {
        color: #cfcf04;
        margin: 10px 0;
    }



    .contain-filter-search-range {
        display: flex;
        flex-wrap: wrap;
    }

    .price-search {
        width: fit-content;
        color: white;
        background-color: grey;
        padding: 10px;
        border-radius: 20px;
        margin: 10px 0;
        margin-right: 10px;
        cursor: pointer;
        text-align: center;
    }


    .price-search-clicked {
        background-color: #5f2525;
    }
    .price-search-highest-lowest {
        display: flex;
        flex-wrap: wrap;
    }

    .min-max-price-search {
        display: flex;
        width: 100%;
    }

    .min-search,
    .max-search {
        width: 70px;
        height: 30px;
        border: 1px solid #979696;
        border-radius: 5px;
    }

    .btn-refine-search {
        background-color: #101066;
        letter-spacing: 1px;
        font-size: 16px;
        margin-top: 15px;
        margin-bottom: 20px;
    }
    /* customer */

    .contain-name-img-customer {
        display: flex;
    }

    .name-customer {
        margin: 10px;
        font-size: 18px;
    }

    .img-customer {
        width: 60px;
        height: 60px;
        cursor: pointer;
        border-radius: 100%;
    }



    .pane-group {
        display: flex;
    }

    .pane-group>ul>li {
        margin: 15px 0;
        font-size: 18px;
        cursor: pointer;
    }

    /* address */
    .contain-adjust-address {
        display: grid;
    }

    .contain-adjust-address .label-address {
        margin: 10px 0;
    }
    .contain-adjust-address select {
        font-size: 15px;
        padding: 5px;
        margin: 0 15px;
    }

    .contain-adjust-address textarea {
        margin: 10px;
    }
    /* history customer */

    .contain-history {
        width: 100%;
    }

    .contain-history table {
        width: 100%;
    }

    .contain-history table tr {
        margin: 10px 0px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .contain-history table tr td img {
        width: 150px;
        height: auto;
    }

    .contain-history table tr td p {
        margin-top: 20%;

    }

    /*pagination*/
    .pagination {
        display: flex;
        align-items: center;
    }
    .pagination select, .pagination span {
        margin:  0 5px;
        font-size: 18px;
    }
    .pagination li{
        cursor: pointer;
    }

    /* introduce category */
    .content-about {
        width: 80% !important;
    }

    .container-category {
        width: 100%;
        padding: 30px;
    }

    .contain-carousel-category {
        width: 100%;
        max-width: 1100px;
    }
    .featured-category {
        color: black;
        font-size: 40px;
        text-align: center;
        margin: 80px;
        font-family: GTAmerica-Regular,Arial,Helvetica,sans-serif;
        font-style: italic;
        line-height: 40px;
    }

    .grid-list-wrapper {
        margin: 15px;
    }
    .list-contain ul {
        display: grid;
        grid-template-columns: repeat(auto-fit, 280px);
        grid-gap: 80px;
        /* display: inline-flex;
        flex-wrap: wrap; */
    }
    .list-contain ul li {
        width: 350px;
        height: auto;
        text-align: center;
        cursor: pointer;
        border: 1px solid rgb(155, 152, 152);
        border-radius: 20px;
    }
    .list-contain ul li img{
        width: 350px;
        height: 350px;
        margin: 0px;
    }

    .list-contain ul li .title-category {
        margin: 10px;
        font-size: 20px;
        color: black;
        font-weight: 700;
        text-decoration: underline;
    }

    .list-contain ul li .introduce-category {
        font-size: 15px;
        color: black;
        margin: 10px 10px;
        text-align: left;
    }

/* product detail */
    .contain-product-detail {
        display: flex;
        flex-wrap: wrap;
    }

