.skill  {
    width: 100%;
}
/* ::selection{
    color: #fff;
    background:black;
  } */
  /*  */
  .team{
      overflow: auto;
      width: 100%;
  }
  .team .photo .imageblock .img-responsive{
      border-radius: 10px;
  }
  
  .team .photo:hover .imageblock{
      background-color:     #ccc;
      border-radius: 10px;
      box-sizing: border-box;
      
  }
  .team .photo:hover .imageblock .img-responsive {
    border-radius: 10px;
    border: 10px solid white;
    transform: scale(0.9) ;
    transition: all 1s;
}
#thanhtoan {
    width: 90%;
    overflow: auto;
   
    padding: 5%;
}
.pt {
    margin: auto;
    width: 25%;
    float: left;   
}
.Experiences {
    width: 100%;
    overflow: auto;
}
.text-profile {
    margin-bottom: 0;
}



 